@keyframes fadeOutIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInOut {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@font-face {
  font-family: 'Montserrat Light';
  src: url("../../assets/fonts/");
  src: url("../../assets/fonts/?#iefix") format("embedded-opentype");
  src: url("../../assets/fonts/Montserrat-Light.woff") format("woff");
  src: url("../../assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../../assets/fonts/Montserrat-Regular.eot");
  src: url("../../assets/fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../../assets/fonts/Montserrat-Regular.woff") format("woff");
  src: url("../../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Semibold';
  src: url("../../assets/fonts/Montserrat-SemiBold.eot");
  src: url("../../assets/fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype");
  src: url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff");
  src: url("../../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../../assets/fonts/Montserrat-ExtraBold.eot");
  src: url("../../assets/fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype");
  src: url("../../assets/fonts/Montserrat-ExtraBold.woff") format("woff");
  src: url("../../assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.page-heading {
  margin: 3.2rem 0;
  text-align: center; }
  .page-heading--white {
    color: #fff; }
  .page-heading__title {
    font-size: 6.8rem;
    margin-bottom: 3rem;
    font-family: 'Montserrat Bold', sans-serif; }
    @media only screen and (max-width: 37.5em) {
      .page-heading__title {
        font-size: 4.2rem;
        line-height: 6.2rem; } }
  .page-heading__subtitle {
    font-size: 1.4rem;
    line-height: 2rem; }

.heading-primary {
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 3.6rem;
  margin-bottom: 2.4rem; }

.heading-secondary {
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 2.8rem;
  margin-bottom: 1.2rem; }

.paragraph-primary {
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
  text-align: justify;
  line-height: 2.4rem; }

.font-white {
  color: #fff; }

.text-centered {
  text-align: center; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  color: #1B3242;
  font-family: 'Montserrat Regular', sans-serif; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #1B3242;
  color: #fff; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  position: relative;
  padding: 3.2rem 4.8rem;
  text-decoration: none;
  border-radius: .8rem;
  color: #fff;
  letter-spacing: .2rem;
  text-align: center;
  font-size: 1.4rem;
  transition: .4s;
  font-family: 'Montserrat Bold', sans-serif;
  cursor: pointer;
  border: none; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: .8rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--blue {
  background-color: #73AFBA; }
  .btn--blue::after {
    background-color: #73AFBA; }

.btn--red {
  background-color: #EB6655; }
  .btn--red::after {
    background-color: #EB6655; }

.btn--menu {
  border: 1px solid #73AFBA;
  color: #73AFBA;
  margin-top: 30px; }

.btn--text:link, .btn--text:visited {
  display: inline-block;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
  color: #73AFBA;
  text-decoration: none;
  border-bottom: 1px solid #73AFBA;
  padding: .8rem;
  transition: all .2s; }

.btn--text:hover {
  background-color: #73AFBA;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn--text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

.menu {
  display: grid;
  align-content: center;
  width: 470px;
  height: 100%;
  position: fixed;
  background-color: #fff;
  text-align: center;
  z-index: 9999;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transition: .4s;
  transform: translateX(-110%); }
  .menu ul {
    list-style: none; }
  .menu__close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem; }
    .menu__close-btn img {
      width: 50px; }
  .menu__link {
    position: relative;
    margin-bottom: 20px; }
    .menu__link::before {
      content: '';
      width: 20px;
      height: 2px;
      background-color: #73AFBA;
      bottom: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  .menu a {
    text-decoration: none;
    padding: 10px 0;
    width: 90%;
    display: inline-block;
    color: #1B3242;
    transition: .4s;
    font-size: 1.7rem; }
    .menu a:hover {
      color: #73AFBA; }
  .menu--active {
    transform: translateX(0%); }

.navbar-language_menu {
  display: none;
  align-content: center;
  width: 300px;
  padding: 30px 0;
  position: fixed;
  background-color: #fff;
  text-align: center;
  top: 80px;
  right: 20px;
  z-index: 9999;
  transition: .4s;
  border-radius: 5px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75); }
  .navbar-language_menu ul {
    list-style: none; }
    .navbar-language_menu ul li {
      padding: 12px 0;
      width: 90%;
      text-align: center;
      margin: 0 auto;
      border-bottom: 1px solid #979797; }
      .navbar-language_menu ul li:first-child {
        border-top: 1px solid #979797; }
    .navbar-language_menu ul a {
      text-decoration: none;
      color: #1B3242;
      transition: .4s; }
      .navbar-language_menu ul a:hover {
        color: #73AFBA; }

.slider-title {
  margin: 75px 0;
  font-size: 38px; }
  .slider-title-menu {
    height: 400px; }
    .slider-title-menu__item {
      height: 400px;
      width: 250px;
      margin: 0 20px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative; }
      .slider-title-menu__item span {
        color: #fff;
        left: 0;
        bottom: 0;
        position: absolute;
        padding: 20px; }

.slick-list {
  width: 100%; }

.info-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 6.4rem; }
  .info-card div:nth-child(1) {
    margin-right: 2.4rem;
    margin-left: 0; }
  .info-card div:nth-child(2) {
    margin-left: 2.4rem;
    margin-right: 0; }
  .info-card--reversed {
    flex-direction: row-reverse; }
    .info-card--reversed div:nth-child(1) {
      margin-left: 2.4rem;
      margin-right: 0; }
    .info-card--reversed div:nth-child(2) {
      margin-left: 0;
      margin-right: 2.4rem; }
  @media only screen and (max-width: 56.25em) {
    .info-card, .info-card--reversed {
      flex-direction: column; }
      .info-card div:nth-child(1),
      .info-card div:nth-child(2), .info-card--reversed div:nth-child(1),
      .info-card--reversed div:nth-child(2) {
        margin: 0; }
      .info-card div:nth-child(1), .info-card--reversed div:nth-child(1) {
        margin-bottom: 3.2rem; } }
  .info-card__image-box {
    flex: 1; }
  .info-card__image {
    border-radius: .8rem;
    box-shadow: 0 0.5rem 4rem 0.5rem rgba(0, 0, 0, 0.11);
    width: 100%;
    transition: all .3s; }
    .info-card__image:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      transform: translateY(-2px) scale(1.01); }
  .info-card__textbox {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: start; }

.mapbox {
  display: flex;
  color: #fff;
  background-color: #1B3242;
  border-radius: .8rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 4rem 0.5rem rgba(0, 0, 0, 0.11);
  transition: transform .3s ease-in-out;
  height: 60rem; }
  .mapbox:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px) scale(1.01); }
  @media only screen and (max-width: 56.25em) {
    .mapbox {
      flex-direction: column-reverse;
      height: 80rem; } }
  .mapbox__canvas {
    flex: 2; }
  .mapbox__textbox {
    padding: 3.2rem;
    flex: 1;
    background-color: #1B3242;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start; }
    @media only screen and (max-width: 56.25em) {
      .mapbox__textbox {
        padding: 4.2rem 3.2rem; } }

.booking-card {
  display: flex; }
  .booking-card div:nth-child(1) {
    margin-right: 3.2rem; }
  .booking-card div:nth-child(2) {
    margin-left: 3.2rem; }
  @media only screen and (max-width: 56.25em) {
    .booking-card {
      flex-direction: column; }
      .booking-card div:nth-child(1),
      .booking-card div:nth-child(2) {
        margin: 0; } }
  .booking-card__image-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; }
  .booking-card__textbox {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: start; }
    @media only screen and (max-width: 56.25em) {
      .booking-card__textbox {
        align-items: center;
        padding-bottom: 4.8rem; } }
  .booking-card__image {
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .booking-card__image {
        width: 50%; } }
    @media only screen and (max-width: 37.5em) {
      .booking-card__image {
        width: 80%; } }

.logo {
  display: flex;
  align-items: center; }
  .logo__temp-box {
    width: 5.8rem;
    height: 7.2rem;
    border-radius: .8rem;
    background-color: #979797;
    margin-right: 3.2rem; }
  .logo__name {
    display: inline-block;
    font-family: 'Montserrat Semibold', sans-serif;
    font-size: 2.4rem; }

.composition {
  display: flex;
  justify-content: center;
  margin: 4.2rem auto; }
  @media only screen and (max-width: 37.5em) {
    .composition {
      flex-direction: column;
      align-items: center; } }
  .composition__image {
    width: 30%;
    height: auto;
    border-radius: .8rem;
    transition: all .3s;
    box-shadow: 0 0.5rem 4rem 0.5rem rgba(0, 0, 0, 0.11); }
    .composition__image--1 {
      z-index: 1;
      margin-right: -5%; }
    .composition__image--2 {
      transform: scale(1.1);
      z-index: 3; }
    .composition__image--3 {
      z-index: 2;
      margin-left: -5%; }
    .composition__image:hover {
      transform: scale(1.15);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
    @media only screen and (max-width: 37.5em) {
      .composition__image {
        width: 70%; }
        .composition__image--1, .composition__image--2, .composition__image--3 {
          margin: 1.2rem 0; }
        .composition__image--2 {
          transform: none; } }
  .composition:hover .composition__image:not(:hover) {
    transform: scale(0.95); }

.gallery__row {
  display: flex; }
  .gallery__row :nth-child(1) {
    margin-right: 1.6rem; }
  .gallery__row :nth-child(2) {
    margin-left: 1.6rem; }
  @media only screen and (max-width: 37.5em) {
    .gallery__row {
      flex-direction: column; }
      .gallery__row .gallery-card {
        margin-left: 0;
        margin-right: 0; } }

.gallery-card {
  height: 45rem;
  position: relative;
  border-radius: .8rem;
  overflow: hidden;
  margin-bottom: 3.2rem; }
  .gallery-card:hover .gallery-card__title {
    bottom: 5rem; }
  .gallery-card:hover .gallery-card__background {
    transform: scale(1.1); }
  .gallery-card--squared {
    flex: 1; }
    @media only screen and (max-width: 75em) {
      .gallery-card--squared {
        flex: 2; } }
    @media only screen and (max-width: 56.25em) {
      .gallery-card--squared {
        flex: 1; } }
    @media only screen and (max-width: 37.5em) {
      .gallery-card--squared {
        flex: auto; } }
  .gallery-card--wide {
    flex: 2; }
    @media only screen and (max-width: 75em) {
      .gallery-card--wide {
        flex: 3; } }
    @media only screen and (max-width: 56.25em) {
      .gallery-card--wide {
        flex: 1; } }
    @media only screen and (max-width: 37.5em) {
      .gallery-card--wide {
        flex: auto; } }
  .gallery-card__background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 50% 50%;
    transition: all .3s; }
  .gallery-card__title {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    font-size: 2.4rem;
    font-family: 'Montserrat Semibold', sans-serif;
    color: #fff;
    transition: all .3s; }
  .gallery-card__quantity {
    position: absolute;
    top: 4rem;
    right: 4rem;
    display: inline-block;
    padding: 2rem 3.2rem;
    background-color: rgba(27, 50, 66, 0.3);
    backdrop-filter: blur(2rem);
    border-radius: 10rem;
    font-size: 1.2rem;
    font-family: 'Montserrat Bold', sans-serif;
    color: #fff; }

.header {
  width: 100%;
  z-index: 9000;
  display: flex;
  flex-direction: column;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .header--fullscreen {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .header--homescreen {
    background-image: url(../assets/img/home-header.jpg); }
  .header__arrow {
    position: absolute;
    bottom: 4.8rem;
    left: 50%;
    transform: translateX(-50%); }
  .header__textbox {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff; }
  .header__title {
    padding-right: 40%;
    font-size: 7.2rem;
    font-family: 'Montserrat Bold', sans-serif;
    color: #fff;
    margin-bottom: 3.2rem; }

.navbar {
  transition: 1s;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 9rem;
  align-items: center; }
  .navbar--pinned svg {
    position: fixed;
    background-color: #73AFBA;
    padding: 20px;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    z-index: 999;
    box-shadow: 4px 10px 26px 0px rgba(0, 0, 0, 0.75); }
  .navbar--white {
    color: #fff; }
    .navbar--white * {
      color: #fff; }
  .navbar__menu-btn {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    width: 10rem; }
  .navbar__menu-icon {
    width: 6rem;
    height: 0.4rem;
    background-color: #fff;
    display: inline-block;
    position: relative; }
    .navbar__menu-icon:after {
      content: '';
      width: 100%;
      height: 0.4rem;
      margin-bottom: .8rem;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #fff; }
  .navbar__logo {
    justify-self: center; }
  .navbar__lng {
    justify-self: end; }
    .navbar__lng a {
      text-decoration: none;
      font-size: 2rem;
      text-transform: uppercase; }
      .navbar__lng a svg {
        transform: translateY(30%); }
  .navbar-language_menu {
    display: none;
    align-content: center;
    width: 30rem;
    padding: 3rem 0;
    position: fixed;
    background-color: #fff;
    text-align: center;
    top: 8rem;
    right: 2rem;
    z-index: 9999;
    transition: .4s;
    border-radius: .5rem;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75); }
    .navbar-language_menu ul {
      list-style: none; }
    .navbar-language_menu li {
      padding: 1.2rem 0;
      width: 90%;
      text-align: center;
      margin: 0 auto;
      border-bottom: 1px solid black; }
      .navbar-language_menu li:first-child {
        border-top: 1px solid black; }
    .navbar-language_menu a {
      text-decoration: none;
      color: #1B3242;
      transition: .4s; }
      .navbar-language_menu a:hover {
        color: #73AFBA; }

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2); }

.footer {
  display: flex;
  justify-content: space-between;
  padding: 3.6rem 0;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      flex-direction: column;
      align-items: center; } }
  @media only screen and (max-width: 37.5em) {
    .footer__logo {
      margin-bottom: 5.2rem; } }
  .footer__menu {
    font-size: 1.6rem;
    line-height: 3.2rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__menu {
        text-align: center; } }
    .footer__menu ul {
      list-style: none; }
    .footer__menu a {
      color: #1B3242;
      text-decoration: none; }
  .footer__contacts {
    max-width: 32rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__contacts {
        margin-top: 5.2rem; } }
    .footer__contacts--links {
      display: flex;
      flex-direction: column;
      font-family: 'Montserrat Bold', sans-serif;
      font-size: 1.4rem;
      margin-bottom: 1.2rem; }
      .footer__contacts--links a {
        text-decoration: none;
        color: #1B3242; }
    .footer__contacts--address {
      font-size: 1.4rem; }
  .footer__logo {
    display: flex;
    align-items: center; }
  .footer__corp {
    padding: 3.2rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2); }
    .footer__corp--text {
      font-size: 1.3rem; }

.container {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3.2rem; }

.text-container {
  max-width: 90rem;
  margin: 2.8rem auto; }

.image-container {
  max-width: 100rem;
  margin: 2.8rem auto;
  display: flex;
  justify-content: center;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .image-container {
      flex-direction: column;
      height: auto; } }
  .image-container img {
    max-width: 100%;
    border-radius: .8rem;
    margin: 1.2rem;
    object-fit: cover;
    max-height: 45rem;
    width: auto; }
    @media only screen and (max-width: 75em) {
      .image-container img {
        max-height: 40rem; } }
    @media only screen and (max-width: 56.25em) {
      .image-container img {
        max-height: 60rem; } }

.section-about {
  padding-bottom: 2.4rem;
  padding-top: 4.2rem; }

.section-booking {
  padding: 11.8rem 0; }

.section-dragobrat {
  margin: 6.4rem 0; }

.section-hotel {
  margin-bottom: 3.6rem; }

.section-gallery {
  margin: 5.2rem 0; }

#top-image {
  background: url(../assets/img/background404.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  z-index: 0;
  height: 100%; }

.header__title404 {
  margin-top: 6rem;
  text-align: center;
  font-size: 24rem;
  font-family: 'Montserrat Bold', sans-serif;
  color: #fff;
  opacity: 0.6;
  margin-bottom: -1rem; }
  @media only screen and (max-width: 75em) {
    .header__title404 {
      font-size: 56.25%; } }

.header__subtitle404 {
  font-weight: 700;
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 6px;
  color: #fff;
  opacity: 0.8; }

.container404 {
  text-align: center; }
  .container404 .btn404 {
    margin-top: 5rem;
    margin-bottom: 0rem; }

@media screen and (max-width: 698px) {
  .header__title404 {
    font-size: 12rem; }
  .header__subtitle404 {
    font-size: 1.8rem; } }
