.header
  width: 100%
  height: 19.2rem
  z-index: 9000
  display: flex
  flex-direction: column
  position: relative
  background-position: center
  background-repeat: no-repeat
  background-size: cover

  &--fullscreen
    height: 100vh

  &--homescreen
    background-image: url(../assets/img/home-header.jpg)

  &__arrow
    position: absolute
    bottom: 4.8rem
    left: 50%
    transform: translateX(-50%)

  &__textbox
    flex: 1 0 auto
    display: flex
    flex-direction: column
    justify-content: center
    color: $color-white

  &__title
    padding-right: 40%
    font-size: 7.2rem
    +font-bold
    color: $color-white
    margin-bottom: 3.2rem

.navbar
  transition: 1s
  display: grid
  grid-template-columns: repeat(3, 1fr)
  height: 9rem  
  align-items: center

  &--white
    color: $color-white
    & *
      color: $color-white

  &__menu-btn
    display: inline-block
    padding: 10px
    cursor: pointer
    width: 10rem

    &--pinned
      background-color: $color-white
      box-shadow: 0 1rem 2rem rgba($color-black, 0.3)
      z-index: 9999
      margin-left: -1rem

      animation-name: fadeOutIn
      animation-duration: 1s
      animation-timing-function: ease-out

      .navbar__menu-icon
        margin-top: 4rem
        margin-left: 1.5rem

      .navbar__menu-icon,
      .navbar__menu-icon::before
        background-color: $color-dark-blue

  &__menu-icon
    width: 6rem
    height: 0.4rem
    background-color: $color-white
    display: inline-block
    position: relative
    &:after
     content: ''
     width: 100%
     height: 0.4rem
     margin-bottom: .8rem
     position: absolute
     bottom: 0
     left: 0
     background-color: $color-white 

  &__logo
    justify-self: center

  &__lng-select
    font-size: 2.4rem
    +font-semibold
    justify-self: end
    height: 40px
    padding: 0 10px
    border: none
    background-color: transparent

    & option
      color: $color-dark-blue
