.header
  width: 100%
  z-index: 9000
  display: flex
  flex-direction: column
  position: relative
  background-position: center
  background-repeat: no-repeat
  background-size: cover

  &--fullscreen
    height: 100vh
    background-position: center
    background-repeat: no-repeat
    background-size: cover

  &--homescreen
    background-image: url(../assets/img/home-header.jpg)

  &__arrow
    position: absolute
    bottom: 4.8rem
    left: 50%
    transform: translateX(-50%)

  &__textbox
    flex: 1 0 auto
    display: flex
    flex-direction: column
    justify-content: center
    color: $color-white

  &__title
    padding-right: 40%
    font-size: 7.2rem
    +font-bold
    color: $color-white
    margin-bottom: 3.2rem

.navbar
  transition: 1s
  display: grid
  grid-template-columns: repeat(3, 1fr)
  height: 9rem  
  align-items: center

  &--pinned

    svg
      position: fixed
      background-color: $color-light-blue
      padding: 20px
      width: 10rem
      height: 10rem
      border-radius: 50%
      z-index: 999
      box-shadow: 4px 10px 26px 0px rgba(0,0,0,0.75)
      
  &--white
    color: $color-white
    & *
      color: $color-white

  &__menu-btn 
    display: inline-block
    padding: 10px
    cursor: pointer
    width: 10rem

  &__menu-icon
    width: 6rem
    height: 0.4rem
    background-color: $color-white
    display: inline-block
    position: relative
    &:after
     content: ''
     width: 100%
     height: 0.4rem
     margin-bottom: .8rem
     position: absolute
     bottom: 0
     left: 0
     background-color: $color-white 

  &__logo
    justify-self: center
  
  &__lng
    justify-self: end
    a
      text-decoration: none
      font-size: 2rem
      text-transform: uppercase
      svg
        transform: translateY(30%)

  &-language_menu
    //LANGUAGE MENU
    display: none
    align-content: center
    width: 30rem
    padding: 3rem 0
    position: fixed
    background-color: $color-white
    text-align: center
    top: 8rem
    right: 2rem
    z-index: 9999
    transition: .4s
    border-radius: .5rem
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75)
    ul
        list-style: none
    li
        padding: 1.2rem 0
        width: 90%
        text-align: center
        margin: 0 auto
        border-bottom: 1px solid black
        &:first-child
            border-top: 1px solid black
    a
        text-decoration: none
        color: $color-dark-blue
        transition: .4s
        &:hover
            color: $color-light-blue
//END LANGUAGE MENU


