.booking-card
  display: flex


  & div:nth-child(1)
    margin-right: 3.2rem

  & div:nth-child(2)
    margin-left: 3.2rem

  @include respond(tab-port)
    flex-direction: column

    & div:nth-child(1),
    & div:nth-child(2)
      margin: 0

  &__image-box
    flex: 1
    display: flex
    align-items: center
    justify-content: center
    
  &__textbox
    flex: 1
    flex-direction: column
    display: flex
    justify-content: center
    align-items: start

    @include respond(tab-port)
      align-items: center
      padding-bottom: 4.8rem

  &__image
    width: 100%

    @include respond(tab-port)
      width: 50%

    @include respond(phone)
      width: 80%