.mapbox
  display: flex
  color: $color-white
  height: 82rem

  @include respond(tab-port)
    flex-direction: column-reverse 

  &__canvas
    flex: 2

  &__textbox
    padding: 3.2rem
    flex: 1
    background-color: $color-dark-blue
    display: flex
    flex-direction: column
    justify-content: center
    align-items: start

    @include respond(tab-land)
      flex: 2

    @include respond(tab-port)
      padding: 4.2rem 3.2rem
